*{
    margin: 0;
    padding: 0;
}
.background{
    background: linear-gradient(to right,rgb(7, 9, 62), black, rgb(58, 21, 21));
    height: 100vh;
    padding-top:1px; /* prevents margin collape. */ 
}
.title{
    text-align: center;
    font-size: 40px;
    justify-content: center;
    margin-top: 10%;
    font-size: 52px;
  display: flex;
}
.title h1{
    padding: 10px;
}
#cops{
    color: rgb(0, 106, 255);
}
#robbers{
    color: rgb(186, 26, 5);
}
#and{
    color: rgba(86, 78, 107, 0.958);
}
.display{
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 1em;
    margin-bottom: 1em;
}
.hide{
    display: none;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%  ;
    grid-template-rows: 33% 33% 33% ;
    max-width: 300px;
}
.tile{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer; /* just so the user know the element is clickable */
}
.Robbers{
    font-size: 27px;
    color: rgb(186, 26, 5);
}
.Cops{
    font-size: 27px;
    color: rgb(0, 106, 255);
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset{
    background-color: #FF3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}